---
import { data } from '@data'

const es = Astro.url.pathname.startsWith('/es')

const {
  githubStats: { githubUser },
  footer: { powered, by, githubBtn }
} = es ? data.es : data.en
---

<footer
  class='mt-8 flex justify-between gap-4 border-t border-[#a7a7a71a]/10 py-4 text-sm dark:border-white/5'
>
  <p>
    {powered} ❤️ {by}
    <a
      href={`https://github.com/${githubUser}`}
      target='_blank'
      rel='noopener noreferrer'
      class='hover:underline'>@{githubUser}</a
    >
  </p>
  <a
    href='https://github.com/bernabedev/minimalist-github-portolio'
    target='_blank'
    rel='noopener noreferrer'
    class='flex items-center gap-2 hover:underline'
  >
    <svg
      viewBox='0 0 24 24'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      class='size-4'
    >
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M12 0.297C5.373 0.297 0 5.67 0 12.297c0 5.302 3.438 9.8 8.207 11.387.6.111.82-.261.82-.58 0-.287-.01-1.05-.015-2.06-3.34.724-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.73.083-.73 1.205.085 1.84 1.24 1.84 1.24 1.07 1.836 2.81 1.305 3.495.997.108-.776.42-1.305.762-1.605-2.667-.302-5.467-1.333-5.467-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.008-.322 3.3 1.23a11.52 11.52 0 013.005-.405c1.02.005 2.047.137 3.005.405 2.292-1.552 3.3-1.23 3.3-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.622-5.475 5.922.435.375.825 1.118.825 2.255 0 1.632-.015 2.945-.015 3.34 0 .324.21.698.825.578C20.565 22.095 24 17.598 24 12.297 24 5.67 18.627.297 12 .297z'
        fill='currentColor'></path>
    </svg>
    {githubBtn}
  </a>
</footer>
