---
import AboutMe from '@components/about-me.astro'
import ChatBot from '@components/chat-bot.astro'
import Experience from '@components/experience.astro'
import GithubStats from '@components/github-stats.astro'
import Projects from '@components/projects.astro'
import Sidebar from '@components/sidebar.astro'
import { data } from '@data'
import Layout from 'src/layouts/layout.astro'

const es = Astro.url.pathname.startsWith('/es')

const { name, title, description } = es ? data.es.profile : data.en.profile
const SITE = `https://${import.meta.env.HOST ?? 'bernabe.dev'}`
const ogImage = `${SITE}/og-image.webp`
---

<Layout
  title={`${name} | ${title}`}
  description={description}
  lang={es ? 'es' : 'en'}
  ogImage={ogImage}
>
  <main class='relative min-h-screen text-black dark:text-white'>
    <div class='grid grid-cols-1 gap-6 md:grid-cols-3 print:gap-4'>
      {/* (Profile and Skills) Sidebar Section */}
      <Sidebar />
      {/* Main Section */}
      <main class='md:col-span-2'>
        {/* About Me Section */}
        <AboutMe />
        {/* Projects Section */}
        <Projects />
        {/* Experience Section */}
        <Experience />
        {/* GitHub Stats Section */}
        <GithubStats />
      </main>
    </div>
  </main>
  <ChatBot />
</Layout>

<style is:global>
  @media print {
    .no-print {
      display: none !important;
    }

    .print {
      display: block !important;
    }

    astro-dev-toolbar {
      display: none !important;
    }

    article {
      break-inside: avoid;
    }
  }
</style>
