---
import { data } from "@data";
import CalendarDays from "@icons/calendar-days.astro";
import CardContent from "@ui/card/card-content.astro";
import Card from "@ui/card/card.astro";
import { Image } from "astro:assets";
---

<h2 class="text-xl font-bold mb-4">Work Experience</h2>
<Card>
  <CardContent className="pt-6">
    <ul class="space-y-8">
      {
        data.jobs.map((j) => (
          <li class="border-b last:border-b-0 pb-8 last:pb-0">
            {/* Job Details */}
            <div class="flex items-center space-x-4">
              <div
                class:list={[
                  "rounded-md border shadow-md size-10 flex justify-center items-center p-1",
                  j.dark && "bg-black",
                ]}
              >
                <Image
                  src={j.logo}
                  alt={j.company}
                  width={40}
                  height={40}
                  class={"object-cover"}
                />
              </div>
              <div>
                <h3 class="font-semibold">{j.role}</h3>
                <p class="text-sm text-muted-foreground">{j.company}</p>
              </div>
            </div>
            <p class="text-xs text-muted-foreground mt-2 flex items-center">
              <CalendarDays class="size-3 mr-2" />
              {j.duration}
            </p>
            <p class="text-sm mt-2">{j.description}</p>
            {/* Job Images */}
            {/* <JobImages
              role={j.role}
              link={j.link}
              images={j.images}
              duration={j.duration}
            /> */}
          </li>
        ))
      }
    </ul>
  </CardContent>
</Card>
