---
import { Image } from "astro:assets";
import CalendarDays from "../icons/calendar-days.astro";
import CardContent from "./ui/card/card-content.astro";
import Card from "./ui/card/card.astro";
const jobs = [
  {
    role: "Senior Full-Stack Developer", // TODO: Replace with actual role
    company: "Tech Innovators Inc.", // TODO: Replace with actual company name
    logo: "/company.svg", // TODO: Replace with actual logo
    duration: "2020 - Present",
    description:
      "Lead developer for multiple high-impact projects, mentoring junior developers, and implementing best practices.",
    link: "https://techinnovators.com",
    images: [],
  },
  {
    role: "Senior Full-Stack Developer", // TODO: Replace with actual role
    company: "Tech Innovators Inc.", // TODO: Replace with actual company name
    logo: "/company.svg", // TODO: Replace with actual logo
    duration: "2018 - 2020",
    description:
      "Developed and maintained various client projects, focusing on responsive design and performance optimization.",
    link: "https://websolutions.com",
    images: ["/devvault.png", "/devvault.png"],
  },
  {
    role: "Senior Full-Stack Developer", // TODO: Replace with actual role
    company: "Tech Innovators Inc.", // TODO: Replace with actual company name
    logo: "/company.svg", // TODO: Replace with actual logo
    duration: "2016 - 2018",
    description:
      "Assisted in the development of web applications, gained experience in agile methodologies and version control.",
    link: "https://startupventures.com",
    images: ["/devvault.png", "/devvault.png"],
  },
];
---

<h2 class="text-xl font-bold mb-4">Work Experience</h2>
<Card>
  <CardContent className="pt-6">
    <ul class="space-y-8">
      {
        jobs.map((j, i) => (
          <li class="border-b last:border-b-0 pb-8 last:pb-0">
            {/* Job Details */}
            <div class="flex items-center space-x-4">
              <Image
                src={j.logo}
                alt={j.company}
                width={40}
                height={40}
                class="rounded-md border shadow-md object-cover"
              />
              <div>
                <h3 class="font-semibold">{j.role}</h3>
                <p class="text-sm text-muted-foreground">{j.company}</p>
              </div>
            </div>
            <p class="text-xs text-muted-foreground mt-2 flex items-center">
              <CalendarDays class="size-3 mr-2" />
              {j.duration}
            </p>
            <p class="text-sm mt-2">{j.description}</p>
            {/* Job Images */}
            {/* <JobImages
              role={j.role}
              link={j.link}
              images={j.images}
              duration={j.duration}
            /> */}
          </li>
        ))
      }
    </ul>
  </CardContent>
</Card>
