---
import { data } from '@data'
import CalendarDays from '@icons/calendar-days.astro'
import CardContent from '@ui/card/card-content.astro'
import Card from '@ui/card/card.astro'
import { Image } from 'astro:assets'
const es = Astro.url.pathname.startsWith('/es')
const { jobs } = es ? data.es : data.en
---

<h2 class='mb-4 text-xl font-bold'>Work Experience</h2>
<Card>
  <CardContent className='pt-6'>
    <ul class='space-y-8'>
      {
        jobs.map((j) => (
          <li class='border-b border-[#a7a7a71a]/10 pb-8 last:border-b-0 last:pb-0 dark:border-white/5'>
            {/* Job Details */}
            <div class='flex items-center space-x-4'>
              <div
                class:list={[
                  'flex size-10 items-center justify-center rounded-md border p-1 shadow-md dark:border-white/10',
                  j.class
                ]}
              >
                <Image
                  src={j.logo}
                  alt={j.company}
                  width={40}
                  height={40}
                  class={'object-cover'}
                />
              </div>
              <div>
                <h3 class='font-semibold'>{j.role}</h3>
                <p class='text-sm text-muted-foreground'>{j.company}</p>
              </div>
            </div>
            <p class='mt-2 flex items-center text-xs text-muted-foreground'>
              <CalendarDays class='mr-2 size-3' />
              {j.duration}
            </p>
            <p class='mt-2 text-sm'>{j.description}</p>
            {/* Job Images */}
            {/* <JobImages
              role={j.role}
              link={j.link}
              images={j.images}
              duration={j.duration}
            /> */}
          </li>
        ))
      }
    </ul>
  </CardContent>
</Card>
