---
import { data } from '@data'
import ExternalLink from '@icons/external-link.astro'
import CardContent from '@ui/card/card-content.astro'
import Card from '@ui/card/card.astro'

const techColors = {
  React: '#0DDBFF',
  'Vue.js': '#42b883',
  'Next.js': '#000000',
  NestJS: '#e0234e'
}

const es = Astro.url.pathname.startsWith('/es')
const { projects } = es ? data.es : data.en
---

<h2 class='mb-4 text-xl font-bold'>Featured Projects</h2>
<div class='mb-6 grid grid-cols-1 gap-4 md:grid-cols-2'>
  {
    projects.map((p, i) => (
      <Card key={i}>
        <CardContent className='pt-6 h-full'>
          <div class='flex h-full flex-col'>
            <a
              href={p.link}
              class='font-semibold text-primary hover:underline dark:text-white'
              target='_blank'
            >
              {p.title}
            </a>
            <p class='mb-4 mt-1 text-sm text-muted-foreground'>
              {p.description}
            </p>
            <div class='mt-auto flex items-center justify-between'>
              <div class='flex items-center space-x-2'>
                <div
                  class:list={['size-4 rounded-full border border-white/10']}
                  style={`background-color: ${techColors[p.tech as keyof typeof techColors]}`}
                />
                <span class='text-xs font-medium text-muted-foreground'>
                  {p.tech}
                </span>
              </div>
              <a
                href={p.link}
                class='no-print flex items-center gap-2 text-sm text-primary hover:underline dark:text-white'
                target='_blank'
              >
                View Project
                <ExternalLink class='inline-block size-3' />
              </a>
            </div>
          </div>
        </CardContent>
      </Card>
    ))
  }
</div>
