---
import { data } from '@data'
import ExternalLink from '@icons/external-link.astro'
import CardContent from '@ui/card/card-content.astro'
import Card from '@ui/card/card.astro'

const techColors = {
  React: '#0DDBFF',
  'Vue.js': '#42b883',
  'Next.js': '#000000',
  NestJS: '#e0234e',
  TypeScript: '#007acc',
  'Bun + Next.js': '#fbf0df'
}

const es = Astro.url.pathname.startsWith('/es')
const { projects } = es ? data.es : data.en
---

<h2 class='mb-4 text-xl font-bold'>Featured Projects</h2>
<div class='mb-6 grid grid-cols-1 gap-4 md:grid-cols-2'>
  {
    projects.map((p) => (
      <a
        href={p.link}
        target='_blank'
        class:list={['group flex', p.expand && 'md:col-span-2']}
      >
        <Card class='relative transition group-hover:border-dashed group-hover:border-black/40 dark:group-hover:border-blue/30'>
          <CardContent className='pt-6 h-full'>
            <div class='flex h-full flex-col'>
              <div class='mb-4 flex items-center gap-4'>
                {p.thumbnail && (
                  <div class='aspect-square size-16 rounded-md border border-[#a7a7a71a]/10 bg-white'>
                    <img
                      src={p.thumbnail}
                      alt={p.title}
                      class='h-full w-full object-cover'
                    />
                  </div>
                )}
                <div>
                  <div class='flex items-center justify-between gap-2'>
                    <h4 class='font-semibold text-primary hover:underline dark:text-white'>
                      {p.title}
                    </h4>
                    {p.badge && (
                      <div class='border-blue-500 rounded-full border border-blue/80 px-4 py-0.5 text-xs text-blue-500 dark:border-blue/30'>
                        {p.badge}
                      </div>
                    )}
                  </div>
                  <p
                    class:list={[
                      'mt-1 line-clamp-3 text-sm text-muted-foreground',
                      p.thumbnail && 'line-clamp-2'
                    ]}
                  >
                    {p.description}
                  </p>
                </div>
              </div>
              <div class='mt-auto flex items-center justify-between'>
                <div class='flex items-center space-x-2'>
                  <div
                    class:list={['size-4 rounded-full border border-white/10']}
                    style={`background-color: ${techColors[p.tech as keyof typeof techColors]}`}
                  />
                  <span class='text-xs font-medium text-muted-foreground'>
                    {p.tech}
                  </span>
                </div>
                <div class='no-print flex items-center gap-2 text-sm text-primary hover:underline dark:text-white'>
                  View Project
                  <ExternalLink class='inline-block size-3' />
                </div>
              </div>
            </div>
          </CardContent>
        </Card>
      </a>
    ))
  }
</div>
