---
const { post } = Astro.props
const { slug } = post
const { title, description, pubDate, heroImage } = post.data

const formattedDate = new Date(pubDate).toLocaleDateString('es-ES', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
})
---

<article
  class='text-card-foreground overflow-hidden rounded-lg border border-[#a7a7a71a]/10 bg-[#fbfcff] transition-shadow dark:border-black dark:bg-primary/40'
>
  {
    heroImage && (
      <a href={`/blog/${slug}`}>
        <img
          src={heroImage}
          alt={`Imagen para ${title}`}
          class='h-48 w-full object-cover'
        />
      </a>
    )
  }
  <div class='p-4'>
    <h2 class='mb-2 text-xl font-semibold'>
      <a href={`/blog/${slug}`} class='hover:text-blue-500'>
        {title}
      </a>
    </h2>
    <p class='text-gray-500 mb-2 text-sm'>{formattedDate}</p>
    <p class='text-gray-700 mb-4'>{description}</p>
    <a href={`/blog/${slug}`} class='text-blue-500 hover:underline'>
      Leer más →
    </a>
  </div>
</article>
