---
import Footer from '@components/layout/footer.astro'
import Header from '@components/layout/header.astro'
import { ClientRouter } from 'astro:transitions'
const SITE = `https://${import.meta.env.HOST ?? 'bernabe.dev'}`
const { title, description, ogImage, lang = 'en' } = Astro.props

const appKey = import.meta.env.APTABASE_KEY || 'A-SH-7170284191'
const host = import.meta.env.APTABASE_HOST || 'https://aptabase.dokploy.dev'
const devMode = import.meta.env.NODE_ENV === 'development'
---

<html lang={lang}>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='description' content={description} />

    <!-- Open Graph Tags -->
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={ogImage} />
    <meta property='og:type' content='website' />
    <meta property='og:url' content={SITE} />

    <!-- Twitter Cards (opcional) -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={ogImage} />

    <ClientRouter />
  </head>
  <body class='dark:text-white'>
    <div
      class='fixed bottom-0 top-0 z-[-2] hidden min-h-screen w-full bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))] dark:block dark:bg-[#030712] dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] print:hidden'
    >
    </div>
    <div class='container mx-auto max-w-screen-lg px-4 py-6'>
      <Header />
      <slot />
      <Footer />
    </div>

    <script type='module' is:inline define:vars={{ appKey, host, devMode }}>
      const API_URL = `${host}/api/v0/events`
      function newSessionId() {
        const epochSec = Math.floor(Date.now() / 1000)
        const rand = Math.floor(Math.random() * 1e8)
          .toString()
          .padStart(8, '0')
        return `${epochSec}${rand}`
      }
      const sessionId = newSessionId()
      const sdkVersion = 'custom-fetch-sdk@1.0.0'

      async function sendEvent(eventName, props = {}) {
        const eventPayload = [
          {
            timestamp: new Date().toISOString(),
            sessionId,
            eventName,
            systemProps: {
              locale: navigator.language,
              osName: navigator.platform,
              isDebug: devMode,
              appVersion: '1.0.0',
              sdkVersion
            },
            props
          }
        ]

        try {
          await fetch(API_URL, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'App-Key': appKey
            },
            credentials: 'omit',
            body: JSON.stringify(eventPayload)
          })
        } catch (err) {
          console.error('Error sending event to Aptabase', err)
        }
      }

      function onRouteChange() {
        sendEvent('page_changed', {
          path: window.location.pathname + window.location.search
        })
      }

      onRouteChange()

      window.addEventListener('popstate', onRouteChange)

      const _push = history.pushState
      history.pushState = function (...args) {
        _push.apply(this, args)
        onRouteChange()
      }
      const _replace = history.replaceState
      history.replaceState = function (...args) {
        _replace.apply(this, args)
        onRouteChange()
      }
    </script>
  </body>
</html>
